.effect{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.737114914325105) 0%, rgba(0,0,0,0.3001401244091386) 80%, rgba(255,255,255,0) 100%); 
}


.effectPais{
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.5942577714679622) 24%, rgba(255,255,255,0) 70%); 
}